<!--<h1>Angular App</h1>

<p>{{message}}</p>

<app-navbar></app-navbar>
<app-post [fromParent]='parentMessage' (messageEvent)='receiveMessage($event)'></app-post>

<p>{{fromChildOutput}}</p>-->

<!--<app-post [childMessage]='parentMessage'></app-post>-->
<!---

<h1>Angular App</h1>
<p>{{message}}</p>-->

<!--<p>{{1+2}}</p>-->

<!--property Binding -->
<!--<img src="{{imgUrl}}" alt="">-->  <!--string interpolicion-->
<!--<img [src]="imgUrl" alt="">  -->  <!--property binding  he said this is more clear-->


<!--<h1 [class.text-red] ="bool">Angular App</h1>
<h1 [style.Color]=" bool? 'red':'blue' ">Style Binding</h1>

-->
<!--event binding-->
<!--<button (click)="buttonClick()">Click Me</button><br><br>-->

<!--filter binding
<input type="text" (keyup.enter)="onKeyup(username.value)" #username>

<input type="text" [(ngModel)] = "userName" (keyup.enter)="onKeyup(userName.value)">
-->

<!--
<input type="text" [value]='textValue' (keyup.enter)="onKeyup()"><br><br>

<input type="text" [(ngModel)] = 'textValue' (keyup.enter)="onKeyup()" >-->



<div class="form-area">
    <h1>Post Form</h1>
    <br><br>
    <input type="text" placeholder="Post Title" [(ngModel)] ="postTitle">
    <br><br>
    <textarea cols="30" rows="10" placeholder="Post Details"  [(ngModel)] ="postDetails" ></textarea>
    <br><br>
    <input type="text" placeholder="Post Image URL" [(ngModel)] ="imageURL">
    <br><br>
    <input type="text" placeholder="Post URL" [(ngModel)] ="postURL">
    <br><br>
    <input type="checkbox"> Add Background
    <br><br>
</div>


<div class="preview-area">
    <img [src]="imageURL" alt="">
    <h1> <span [class.add-background]="addBackground">{{postTitle}}</span></h1>
    <p>{{postDetails}}</p>
    <a [href]="postURL" target="_blank" [style.display]="postURL?'block':'none'">More Details</a>

</div>

<p>{{postArray}}</p>

<ul>
    <li>{{postArray[0]}}</li>
    <li>{{postArray[1]}}</li>
    <li>{{postArray[2]}}</li>
    <li>{{postArray[3]}}</li>
    <li>{{postArray[4]}}</li>
</ul>


<ul>
    <li * ngFor = "let post of postArray">{{post}}</li>

</ul>

<p>Fetching Object Array</p>
<button (click)="addNew()">Add New Data</button>

<div *ngIf = 'objArray.length>0' ; else noData>
<ul>
    <li *ngFor="let post of objArray; let i = index">{{post.postTitle}}
    <button (click)="onDelete(i)">Delete</button></li>
</ul>
</div>

<ng-template #postList>
<ul>
   
   <li *ngFor="let post of objArray; let i = index">{{post.postTitle}}
    <button (click)="onDelete(i)">Delete</button></li>
   </ul>
</ng-template>



<ng-template #noData>
     <p>There is no Data to fetch</p>
</ng-template>
<!---
<p>ngSwitch Cases</p>
<div>

    <button (click)="onClick('step1')">Step 1</button>
    <button (click)="onClick('step2')">Step 2</button>
    <button (click)="onClick('step3')">Step 3</button>
</div>
<br>
-->
<div [ngSwitch] = "stepForm">

<div *ngSwitchCase="'step 1'">Step 1 Form</div>
<div *ngSwitchCase="'step 2'">Step 2 Form</div>
<div *ngSwitchCase="'step 3'">Step 3 Form</div>
<div *ngSwitchDefault >Something Else</div>
</div> 

<p>NgStyle Directive</p>

<h1  [style.color] = "isActive ? 'red': 'black'"
[style.textTransForm] ="isActive ? 'uppercase' : 'lowercase'">Angular Udemy Course</h1>

<h1 [ngStyle]="{color: isActive ? 'red' : 'black',
    textTransForm: isActive ? 'uppercase' : 'lowercase'
}">NgStyle Directive</h1>


<h1 [ngClass]=" {'main': isActive, 'text-weight': isActive}">ngClass Directives</h1>



<!--task-->
<div class="form-area">
    <h3>User Details</h3>

    <input type="text" placeholder="Name" [(ngModel)]='name'>
    <br><br>

    <input type="text" placeholder="E Mail" [(ngModel)]='email'>
    <br><br>

    <textarea cols="30" rows="10" placeholder="Address" [(ngModel)]='address'>    </textarea>
    <br><br>

    <button (click)="onclick">Save Data </button>
</div>

<div *nfIf ="userArray.length>0" ; else noData>
<div class="table-are">
    <table width ='500'>
        <thead>
            <th>#</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </thead>
        <tr *ngFor="let user of userArray; let index =index ">
            <td>{{index+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td><button (click)="onDelete(index)">Delete</button></td>
        </tr>
    </table>
</div>
</div>


<ng-template #noData>
    <h4>No data to show</h4>
</ng-template>