.test-red{
    color:red
}

.form-area,
.preview-area
{
    margin-top: 50px;
    text-align: center;
}


.add-background
{
    background-color: yellow;
    padding: 10px;
}


h1{
    color: red;
    text-transform: uppercase;
}


.main{
   color:red;
   text-transform: uppercase;
}

.text-weight{
    font-weight: bold;
}